@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
/* line 1, /home/fedor/html/html_practics_1/#source/scss/null.scss */
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

/* line 6, /home/fedor/html/html_practics_1/#source/scss/null.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 13, /home/fedor/html/html_practics_1/#source/scss/null.scss */
:focus,
:active {
  outline: none; }

/* line 17, /home/fedor/html/html_practics_1/#source/scss/null.scss */
a:focus,
a:active {
  outline: none; }

/* line 21, /home/fedor/html/html_practics_1/#source/scss/null.scss */
aside,
nav,
footer,
header,
section {
  display: block; }

/* line 28, /home/fedor/html/html_practics_1/#source/scss/null.scss */
html,
body {
  height: 100%;
  min-width: 320px; }

/* line 33, /home/fedor/html/html_practics_1/#source/scss/null.scss */
body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 40, /home/fedor/html/html_practics_1/#source/scss/null.scss */
input,
button,
textarea {
  font-family: "Lato"; }

/* line 45, /home/fedor/html/html_practics_1/#source/scss/null.scss */
input::-ms-clear {
  display: none; }

/* line 48, /home/fedor/html/html_practics_1/#source/scss/null.scss */
button {
  cursor: pointer; }

/* line 51, /home/fedor/html/html_practics_1/#source/scss/null.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 55, /home/fedor/html/html_practics_1/#source/scss/null.scss */
a,
a:visited {
  text-decoration: none; }

/* line 59, /home/fedor/html/html_practics_1/#source/scss/null.scss */
a:hover {
  text-decoration: none; }

/* line 62, /home/fedor/html/html_practics_1/#source/scss/null.scss */
ul li {
  list-style: none; }

/* line 65, /home/fedor/html/html_practics_1/#source/scss/null.scss */
img {
  vertical-align: top; }

/* line 68, /home/fedor/html/html_practics_1/#source/scss/null.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/* line 30, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.wrapper {
  overflow: hidden;
  min-height: 100%; }

/* line 37, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto; }

/* line 6, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.row:after {
  display: block;
  content: "";
  clear: both; }

/* line 11, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.rub:after {
  content: "₽"; }

/* line 15, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 24, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
ol.counter {
  list-style-type: none;
  counter-reset: item; }
  /* line 27, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px; }
    /* line 30, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
    ol.counter li:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb; }

/* line 49, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 56, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 62, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.table {
  display: table;
  font-size: 0;
  width: 100%; }

/* line 68, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.trow {
  display: table-row; }

/* line 71, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.cell {
  display: table-cell; }
  /* line 73, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .cell.full {
    width: 100%; }

/* line 78, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.ibg {
  position: relative; }
  /* line 80, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }

/* line 91, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 96, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

/* line 105, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  /* line 110, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 122, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

/* line 139, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.moretext {
  overflow: hidden; }

/* line 142, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.moretext__more {
  cursor: pointer; }
  /* line 144, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .moretext__more span {
    font-style: normal; }
    /* line 146, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
    .moretext__more span:first-child {
      display: block; }
    /* line 149, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
    .moretext__more span:last-child {
      display: none; }
  /* line 154, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .moretext__more.active span {
    font-style: normal; }
    /* line 156, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
    .moretext__more.active span:first-child {
      display: none; }
    /* line 159, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
    .moretext__more.active span:last-child {
      display: block; }

/* line 166, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1); }

/* line 173, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0); }

/* line 180, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.slick-slider {
  position: relative; }
  /* line 182, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  /* line 190, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  /* line 195, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .slick-slider .slick-track {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  /* line 200, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .slick-slider .slick-slide {
    position: relative; }

/* line 221, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.tab__item {
  display: none; }
  /* line 223, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .tab__item.active {
    display: block; }

/* line 228, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.mirror {
  transform: scale(-1, 1); }

/* line 232, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.nicescroll-rails {
  z-index: 1000 !important; }

/* line 238, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.gm-style-iw-t {
  opacity: 0; }

/* line 241, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important; }
  /* line 245, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .baloon button {
    display: none !important; }
  /* line 248, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .baloon:after {
    display: none !important; }

/* line 252, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.baloon-style {
  display: none; }

/* line 255, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important; }
  /* line 263, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .baloon-content.gm-style-iw > .gm-style-iw-d {
    overflow: hidden !important;
    max-width: none !important; }
  /* line 267, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
  .baloon-content.gm-style-iw:after {
    display: none !important; }

/* line 271, /home/fedor/html/html_practics_1/#source/scss/ui.scss */
.baloon-close {
  top: 18px !important; }

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
/* line 27, /home/fedor/html/html_practics_1/#source/scss/header.scss */
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  /* line 33, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .header .header__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    height: 85px; }
  @media (max-width: 767px) {
    /* line 27, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header {
      top: 15px; } }
  /* line 53, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .header .menu__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  /* line 57, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .header li {
    position: relative;
    padding: 0px 35.5px; }
    /* line 60, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header li:nth-child(2) {
      padding: 0px 110px 0px 35.5px; }
    /* line 61, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header li:nth-child(3) {
      padding: 0px 35.5px 0px 110px; }
    /* line 62, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header li:after {
      content: '';
      width: 2px;
      height: 2px;
      background-color: #4d4959;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      margin: -1.5px 0px 0px 0px; }
    /* line 74, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header li:last-child:after {
      display: none; }
    /* line 77, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header li:nth-child(2):after {
      display: none; }
  /* line 80, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .header .menu__link {
    color: #4d4959;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px; }
  /* line 89, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .header .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0px, 0px);
    -webkit-transform: translate3d(-50%, 0px, 0px);
    -ms-transform: translate3d(-50%, 0px, 0px);
    -o-transform: translate3d(-50%, 0px, 0px);
    -moz-transform: translate3d(-50%, 0px, 0px);
    z-index: 2; }
  @media (max-width: 767px) {
    /* line 99, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: 0;
      background-color: #4d4959;
      transform: translate3d(0px, -100%, 0px);
      -webkit-transform: translate3d(0px, -100%, 0px);
      -ms-transform: translate3d(0px, -100%, 0px);
      -o-transform: translate3d(0px, -100%, 0px);
      -moz-transform: translate3d(0px, -100%, 0px);
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      padding: 150px 0px 20px 0px; }
      /* line 110, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .header .menu__body.active {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px); }
    /* line 115, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header .menu__list {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      /* line 119, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .header .menu__list li {
        padding: 0px 0px 45px 0px; }
        /* line 121, /home/fedor/html/html_practics_1/#source/scss/header.scss */
        .header .menu__list li:nth-child(2), .header .menu__list li:nth-child(3) {
          padding: 0px 0px 45px 0px; }
        /* line 124, /home/fedor/html/html_practics_1/#source/scss/header.scss */
        .header .menu__list li:last-child {
          padding: 0px; }
        /* line 127, /home/fedor/html/html_practics_1/#source/scss/header.scss */
        .header .menu__list li:after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: #fff;
          right: 50%;
          top: 40px;
          margin: 0px -2px 0px 0px; }
        /* line 137, /home/fedor/html/html_practics_1/#source/scss/header.scss */
        .header .menu__list li:nth-child(2):after {
          display: block; }
    /* line 141, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .header .menu__link {
      color: #fff;
      font-size: 20px; } }

@media (max-width: 767px) {
  /* line 148, /home/fedor/html/html_practics_1/#source/scss/header.scss */
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2; }
    /* line 158, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .icon-menu span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4d4959; }
      /* line 159, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .icon-menu span:first-child {
        top: 0px; }
      /* line 160, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .icon-menu span:last-child {
        top: auto;
        bottom: 0px; }
    /* line 163, /home/fedor/html/html_practics_1/#source/scss/header.scss */
    .icon-menu.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      background-color: #fff; }
      /* line 164, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .icon-menu.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      /* line 165, /home/fedor/html/html_practics_1/#source/scss/header.scss */
      .icon-menu.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

/* line 51, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column; }

/* line 60, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.main-screen {
  flex: 1 0 100%;
  position: relative; }
  /* line 64, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

/* line 77, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.generation {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 900px) {
    /* line 77, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .generation {
      padding: 80px 0; } }
  @media (max-width: 600px) {
    /* line 77, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .generation {
      padding: 30px 0; } }

/* line 90, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.block {
  text-align: center; }
  /* line 93, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .block__icon {
    margin: 0px 0px 30px 0px; }
  /* line 97, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .block__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0px 0px 18px 0px; }
  /* line 107, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .block__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px; }
    /* line 112, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .block__text_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px; }
      /* line 116, /home/fedor/html/html_practics_1/#source/scss/style.scss */
      .block__text_j:after {
        content: '';
        display: block;
        margin: 35px auto 0px auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb; }
  @media (max-width: 1500px) {
    /* line 129, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .block__text_j:after {
      margin: 15px auto 0px auto; } }

/* line 140, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.brands_rev .brands__column {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }
  /* line 142, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands_rev .brands__column_b {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

/* line 150, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.brands__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

/* line 154, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.brands__column {
  flex: 0 1 33.333%; }
  /* line 157, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands__column_b {
    flex: 0 1 66.667%; }

/* line 164, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative; }
  /* line 167, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands__content:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0px 0px 0px -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; }

/* line 181, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.brands__image {
  padding: 0px 0px 37.51% 0px; }

@media (max-width: 1500px) {
  /* line 185, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands__content {
    padding: 40px 35px 30px 35px; } }

@media (max-width: 1100px) {
  /* line 192, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  /* line 195, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands_last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  /* line 198, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands_last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  /* line 203, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .brands__row {
    flex-direction: column; } }

/* line 208, /home/fedor/html/html_practics_1/#source/scss/style.scss */
.item {
  height: 100%;
  display: block;
  position: relative; }
  /* line 213, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    flex-direction: column;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden; }
    /* line 228, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .item__logo span {
      margin: 10px 0px 0px 0px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff; }
  /* line 238, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  /* line 246, /home/fedor/html/html_practics_1/#source/scss/style.scss */
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 1100px) {
    /* line 208, /home/fedor/html/html_practics_1/#source/scss/style.scss */
    .item {
      height: auto;
      padding: 0px 0px 70% 0px; } }

/*# sourceMappingURL=style.css.map */